In [20]:
import pandas as pd
import os
import os
import shutil

In [31]:
# shutil.move("flickr30k-images/36979.jpg", "images/36979.jpg")

In [24]:
data = pd.read_csv("validation.csv")

In [25]:
data.head()

               id                                            caption
0  1000092795.jpg  লম্বা চুলের দুই তরুণ ছেলেরা উঠানে আড্ডা দেওয়া ...
1  1000092795.jpg           দুই বন্ধু একসঙ্গে সময় কাটানো উপভোগ করে।
2  1000268201.jpg                 একটি মেয়ে একটি কাঠের ভবনে যাচ্ছে।
3  1000344755.jpg  নীল শার্ট পরিহিত একটি লোক একটি মইয়ের উপর দাড়িয়...
4  1000344755.jpg  একটি লোক একটি মইয়ের উপর দাড়িয়ে উঁচু ভবনের জানা...

In [26]:
imes=data["id"].tolist()

In [27]:
# data["id"]=='1000092795.jpg'

In [41]:
list1=[]
frompath="flickr30k-images/"
topath="images/"
for img in imes:
#     exists = os.path.isfile('flickr30k-images/img')
    if os.path.isfile('flickr30k-images/'+img):
        
        shutil.move(frompath+img, topath+img)
        
    else:
        
        list1.append(img)

In [42]:
list2

[]

In [43]:
len(imes)

1415

In [44]:
len(list1)

1415