In [13]:
import pandas as pd
import os
import os
import shutil
from PIL import Image

In [14]:
# shutil.move("flickr30k-images/36979.jpg", "images/36979.jpg")

In [15]:
data = pd.read_csv("newdata.csv")

In [16]:
data.head()

               id                                            caption
0  1000092795.jpg  লম্বা চুলের দুই তরুণ ছেলেরা উঠানে আড্ডা দেওয়া ...
1  1000092795.jpg            দুই বন্ধু একসঙ্গে সময় কাটানো উপভোগ করে
2  1000268201.jpg                  একটি মেয়ে একটি কাঠের ভবনে যাচ্ছে
3  1000344755.jpg  নীল শার্ট পরিহিত একটি লোক একটি মইয়ের উপর দাড়িয়...
4  1000344755.jpg  একটি লোক একটি মইয়ের উপর দাড়িয়ে উঁচু ভবনের জানা...

In [17]:
imes=data["id"].tolist()

In [18]:
# data["id"]=='1000092795.jpg'

In [19]:
len(imes)

2516

In [ ]:
list1=[]
frompath="./flickr30k-images/"
topath="./images_new /"
for img in imes:
#     exists = os.path.isfile('flickr30k-images/img')
    if os.path.isfile(frompath+img):
        im = Image.open(frompath+img)
        img_name = topath+img[:-3]+"png"
        im.save(img_name)
        
        #shutil.move(frompath+img, topath+img)
        
    else:
        
        list1.append(img)

In [12]:
list1

[]

In [ ]:
len(imes)

In [ ]:
len(list1)